$blue: oklch(0.611 0.203 259.337);
$blue-shade: oklch(0.634 0.197 259.165);
$dark-navy: oklch(0.313 0.059 260.169);
$grey: oklch(0.625 0.036 264.275);
$light-grey: oklch(0.905 0.023 252.184);
$white: oklch(1 0 89.876);
