@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src:
          local('Outfit'),
          url('../fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
};

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src:
          local('Outfit'),
          url('../fonts/Outfit/static/Outfit-Bold.ttf') format('truetype');
};
